body {
  color:#393939;
}

.user .name {
  font-weight:bold;
}

.user .login {
  font-style:italic;
}

.menu {
  margin-top:5pt;
}

.menu a, #photos {
  text-decoration:none;
  color:#1d007a;
  font-weight:bold;
  cursor: pointer;
}

a {
  text-decoration:none;
  color:#1d007a;
}

hr {
	border-top: 1.5px solid black;
}

.goldenrule {
  font-weight:bold;
  color:#8e3c00;
  font-size:150%;
}

.sub, .valid {
  text-decoration:none;
  font-weight:bold;
  color:#175e0c;
  cursor: pointer;
  /**display:none;**/

}

.unsub, .decline, .cancel, .edit {
  text-decoration:none;
  font-weight:bold;
  color:#8e3c00;
  cursor: pointer;
}

.wait, .validation {
  font-weight:bold;
}

.cancel, .config {
  display: none;
}

.impossible {
  text-decoration:line-through;
  cursor: help;
}

.photo {
  height: 15px;
  width: 12px;
}

.histotitle {
  margin-top: 5pt;
}

.histodata {
  font-size: 75%;
  margin-left: 10pt;
  color:blueviolet;
  border-left: 1px solid;
  border-color: blueviolet ;
}